
  @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;1,300&family=Roboto:wght@300&display=swap');
  *{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  body {
    font-family: 'Montserrat', sans-serif;
  }
  ul{
    list-style-type: none;
  }
  a{
    text-decoration: none;
  }
  .container {
    /* max-width: 1310px; */
    margin:0 auto;
    padding:0 50px;
  }
 

/* CSS */
button{
  align-items: center;
  appearance: none;
  background-image: radial-gradient(100% 100% at 100% 0, #444646 0, #202325 100%);
  border: 0;
  border-radius: 6px;
  box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(102, 105, 124, 0.5) 0 -3px 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono",monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 18px;
}

button:focus {
  box-shadow: #5e5f67 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #61647a 0 -3px 0 inset;
}

button:hover {
  box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #5b5d6a 0 -3px 0 inset;
  transform: translateY(-2px);
}

button:active {
  box-shadow: #676b88 0 3px 7px inset;
  transform: translateY(2px);
}


.heading {
  color: white;
  font-size: 60px;
  font-weight: 300;
  text-transform: uppercase;
  line-height: 1.1;
  padding-bottom:10px;
  padding-left: 150px;

}
.text{
  color:white;
  font-size: 30px;
}

.small{
  width: 500px;
  height: 300px;
  
}
.big{
  padding-top: 50px;
  padding-left: 450px;
  display: gridflex;
  background-size: cover;
  background-image: url(./assets/images/menu-backgroundimage.png);
  color:white;
 
}
.booking {
  
  padding-left: 350px;
  padding-top:250px;
  color: white;
 background-image: url(./assets/images/menu-backgroundimage.png); 
 
}

.block {
  background-image: url(./assets/images/menu-backgroundimage.png);
}
.menu-heading {
  padding-top: 150px;
  padding-left: 600px;
  background-image: url(./assets/images/menu-backgroundimage.png); 
  color:white;
  
}
.block-col-1{
  padding-top:200px;
 
 background-image: url(./assets/images/menu-backgroundimage.png); 
  background-size: cover;
  
}
.col-2 {
   color:white; 
  padding-left:200px
}
.row{
  color:white;
}
.cartheading{
  padding-bottom: 20px;
  padding-left:200px;
  color:white;
}
.col-2 text-right{
  color:white;
}
.footerdiv{
  background-color: rgb(40, 34, 34);
 
}
.end1{
  padding-top: 400px;
}
input[type=text], select, textarea {
  width: 50%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}
input[type=date], select, textarea {
  width: 50%;
  padding: 12px;
  margin-bottom: 16px;
  resize: vertical;
}
input[type=Time], select, textarea {
  width: 50%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}
.hi{
  background-color: red;
}